* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel Decorative", serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #010000, #821301);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  padding: 30px;
}

h1.hover {
  cursor: pointer;
}

main > p {
  text-align: center;
  padding: 10px;
}

header {
  background-color: #821301;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.buttons a {
  display: block;
  padding: 30px;
  font-size: 17px;
  background-color: #010000;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play > a {
  font-size: 40px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.others {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 50px;
}

.contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
