* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", serif;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #010000 50%, #821301);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  padding: 30px 30px 0 30px;
}

h1:hover {
  cursor: pointer;
}

main > p {
  text-align: center;
  padding: 0 10px 10px 10px;
  font-size: 20px;
}

header {
  background-color: transparent;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 100%;
  display: flex;
  align-items: center;
}

.icon > p {
  padding: 30px;
  font-size: 30px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > a {
  padding: 0 30px;
  border-radius: 10px;
  transition: 0.3s ease-out;
  margin-right: 20px;
}

nav > a:hover {
  background-color: white;
  color: black;
}

.buttons a {
  display: block;
  padding: 20px 30px;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 10px;
  font-family: "Cinzel", serif;
  font-size: 30px;
  margin: 40px 0;
  transition: 0.3s ease-out;
}

.buttons a:hover {
  background-color: white;
  color: #010000;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 50px;
}

.contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  border-radius: 10px;
  padding: 0 30px;
  transition: 0.3s ease-out;
}
footer a:hover {
  background-color: white;
  color: #821301;
}
