* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", serif;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #010000 50%, #821301);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  padding: 30px 30px 0 30px;
}

h1:hover {
  cursor: pointer;
}

h2 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  padding: 30px 30px 0 30px;
}

h3 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 30px 30px 0 30px;
}

p {
  text-align: center;
  padding: 10px;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

li {
  padding: 10px;
}

main > p {
  text-align: center;
  padding: 0 10px 10px 10px;
}

header {
  background-color: #010000;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
}

.icon > p {
  font-family: "Cinzel Decorative", serif;
  padding: 30px;
  font-size: 30px;
}

nav > a {
  padding: 0 30px;
  margin-right: 20px;
  border-radius: 10px;
  transition: 0.3s ease-out;
}

nav > a:hover {
  background: white;
  color: black;
}

nav {
  display: flex;
  align-items: center;
}

.buttons a {
  display: block;
  padding: 20px 30px;
  font-size: 17px;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 10px;
  font-family: "Cinzel", serif;
  font-size: 30px;
  margin: 40px 0;
  transition: 0.3s ease-out;
}

.buttons a:hover {
  background-color: white;
  color: #010000;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #821301;
  display: flex;
  flex-direction: column;
  height: 50px;
  min-height: 50px;
  margin-top: 50px;
}

.contact > p {
  font-weight: 700;
}

.contact {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

span {
  display: block;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 700px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.active {
  background-color: white;
  color: black;
  border-radius: 10px;
}

footer a {
  border-radius: 10px;
  padding: 0 30px;
  transition: 0.3s ease-out;
}
footer a:hover {
  background-color: white;
  color: #821301;
}
